body{
    background-color: rgb(90, 90, 90);
    font-family: "Century Gothic", Verdana, sans-serif;
    color: rgb(224, 210, 210);
    font-weight: bold;
}
strong{
    border: 2px solid rgb(190, 189, 191);
}
img{
    max-width: 100%;
    height: auto;
}

.p1{
    height: 16px;
    width: 360px;
    padding: 15px;
    background-color: rgb(71, 37, 73);
}
mark{
    color: white;
    background-color: rgb(126, 42, 94);
}
div{
    width: 400px;
    height: 200px;
    margin: 0px auto;
}
.div2{
    width: 400px;
    height: 200px;
    position: absolute;
    left: 70px;
    bottom: 5px;
}
nav{
    width: 100%;
    background-color: rgb(195, 162, 226);
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #f7ebeb;
}

