
nav{
    width: 100%;
    background-color: #0B6E4F;
}
nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #ffffff;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    transition: all ease 1s;
}

#btnMenu {
    display: none;
}

#btnMenu:hover {
    background: #75da4733;
}


@media screen and (max-width:600px) {
    nav {
        /*display: none;*/
    }
    .menu {
        display: none;
        flex-flow: column wrap;
        position: fixed;
        width: 100%;
        background-color: #666dac;
    }
    .menu.active {
        display: flex;
    }#btnMenu {
        display: block;
    }
    

}


body{
    background-color:#ffffff;
    font-family: "Century Gothic", Verdana, sans-serif;
    color: #020402;
    font-weight: bold;
}
strong{
    border: 2px solid rgb(234, 231, 236);
}
img{
    max-width: 100%;
    height: auto;
}
.p1{
    height: 16px;
    width: 360px;
    padding: 15px;
    background-color: #6BBF59;
}
mark{
    color: white;
    background-color: #08A045;
}
div{
    width: 400px;
    height: 200px;
    margin: 0px auto;
}
.div2{
    width: 400px;
    height: 200px;
    position: absolute;
    left: 70px;
    bottom: 5px;
}
.anglais-html:hover{
    border-top: 5px solid #A7E8BD;
    background-color: RGBa(228, 77, 38, 0.15);
}
.menu-html:hover{
    border-top: 5px solid #A7E8BD;
    background-color: RGBa(228, 77, 38, 0.15);
}
.github-html:hover{
    border-top: 5px solid #A7E8BD;
    background-color: RGBa(228, 77, 38, 0.15);
}
.com-html:hover{
    border-top: 5px solid #A7E8BD;
    background-color: RGBa(228, 77, 38, 0.15);
}
.intro-html:hover{
    border-top: 5px solid #A7E8BD;
    background-color: RGBa(228, 77, 38, 0.15);
}
.video-html:hover{
    border-top: 5px solid #A7E8BD;
    background-color: RGBa(228, 77, 38, 0.15);
}
.fiche-html:hover{
    border-top: 5px solid #A7E8BD;
    background-color: RGBa(228, 77, 38, 0.15);
}
.tp-html{
    width: 400px;
    height: 200px;
    margin: 0px auto;
}
.aut-html:hover{
    border-top: 5px solid #A7E8BD;
    background-color: RGBa(228, 77, 38, 0.15);
}


