body{
    background-color: white;
    font-family: "Century Gothic", Verdana, sans-serif;
    color: #111111;
    font-weight: bold;
    font-size: 1rem;
}

mark{
    color: white;
    background-color: #8F95D3;
}
.h10{
    height: 50px;
    width: 190px;
    padding: 15px;
    background-color: #89DAFF;
}

#pre1{
    background-color: rgb(116, 116, 115);
    margin: auto;
    right: 10;
}
